.pic {
    height: 200px;
    width: 200px
}

.item_block {
    height: 400px;
    width: 300px;
    float: left;
    background-color: #B89EB9;
}

.image_block {
    margin: 20px;
    height: 200px;
    width: 200px;
}

.text_pic_desc {
    text-align: center;
}